
/* Commented Out because of Bootstrap */

/* .form {
    border: 1px solid #ddd;
    width: 500px;
    padding: 20px;
    margin: 10px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    align-items: center; 
}

.label {
    width: 100px; 
}

.input {
    border: 1px solid #ddd; 
    border-radius: 5px;
    width: 100%; 
}

.button {
    width: 150px;
    height: 30px;
    background-color: green;
    border: 1px solid white;
    border-radius: 5px;
    align-self: center; 
    color: white;
} */

.button:hover {
    /* growing our button */
    transform: scale(1.1); 
    transition: transform .5s ease; 
}

.input {
    height: 80px; 
}