/* commented out because of bootstrap */

#app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(49, 49, 49);
  color: white;
  height: 100vh; 
}


/* .lists {
  width: 500px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
} */

/* li {
  background-color: lightblue;
  padding: 5px;
  margin: 5px 0;
  border-radius: 4px;
  color: rgb(49,49,49);
} */

.li:hover {
  background-color: #bbb9b9; 
}

/* ul {
  list-style-type: none;
} */

